.wrapper {
   display: flex;
   align-items: center;
   position: relative;
   width: max-content;
}

.wrapper_text {
   padding: 0.5rem 1.5rem;
}

.wrapper_line {
   position: relative;
   width: max-content;
}

.line {
   content: "";
   width: 2.2rem;
   height: 1px;
   background-color: var(--color-line);
}

.line2 {
   content: "";
   width: 2.2rem;
   height: 1px;
   background-color: var(--color-line);
   transform: rotate(-70deg);
   position: absolute;
   right: -1.5rem;
   bottom: 1rem;
}
