@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400&display=swap");

* {
   box-sizing: border-box;
}

:root {
   --color-primary: #00ccf3;
   --color-primary-variant: #042b6c;

   --color-secondary: #04a9f3;
   --color-secondary-variant: #02cdfb;

   --color-line: #808080;

   --transition: all 400ms ease;

   --container-width-lg: 75%;
   --container-width-md: 86%;
   --container-width-sm: 90%;
}

body {
   font-family: "Prompt", sans-serif;
   margin: 0;
   background-color: #fcf3f6;
}
